@import "~normalize.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  min-height: 100vh;
  min-width: 320px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  padding: 100px 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}